INVOIC_D_93A_UN_EAN007
INV|{{invoice.number or invoice.id}}|{{invoice.edi_document_type}}|9
DTM|{{invoice.invoice_date|replace('-','')}}
PAI|14E
{% set ns = namespace(sales_rff=False) -%}
{% if invoice.sales -%}
{% for sale in invoice.sales -%}
{% if sale.reference -%}
RFF|ON|{{sale.reference}}
{% set ns.sales_rff = True -%}
{% endif -%}
{% endfor -%}
{% endif -%}
{% if not ns.sales_rff -%}
RFF|ON|{{invoice.reference}}
{% endif -%}
{% if invoice.shipments_reference -%}
{% for shipment in invoice.shipments_reference -%}
RFF|DQ|{{shipment}}
{% endfor -%}
{% endif -%}
{{invoice.edi_nadsco}}
{{invoice.edi_nadbco}}
{{invoice.edi_nadsu}}
{{invoice.edi_nadby}}
{{invoice.edi_nadii}}
{{invoice.edi_nadiv}}
{{invoice.edi_naddp}}
{{invoice.edi_nadpr}}
{{invoice.edi_nadpe}}
CUX|EUR|4
{% if invoice.edi_document_type == '381' -%}
PAT|35|{{ invoice.invoice_date|replace('-','') }}|{{ -1*invoice.total_amount }}
{% else -%}
PAT|35|{{ invoice.invoice_date|replace('-','') }}|{{ invoice.total_amount }}
{% endif -%}
{% set ns = namespace(counter=0) -%}
{% for line in invoice.lines -%}
{% if line.is_edi or line.code_ean13 -%}
{% set ns.counter = ns.counter + 1 -%}
LIN|{{line.code_ean13}}|EN|{{ns.counter}}
PIALIN|{{line.product.code}}
IMDLIN|{{ line.product.name|truncate(35, False, '', 0) }}|M|F
{% if invoice.edi_document_type == '381' -%}
QTYLIN|47|{{ (-1*line.quantity)|int }}
MOALIN|{{ -1*line.amount }}
{% else -%}
QTYLIN|47|{{ line.quantity|int }}
MOALIN|{{ line.amount }}
{% endif -%}
PRILIN|AAA|{{ line.unit_price }}
{% if line.base_price and line.base_price > line.unit_price -%}
PRILIN|AAB|{{ line.base_price }}
{% else -%}
PRILIN|AAB|{{ line.unit_price }}
{% endif -%}
{% if invoice.shipments|length > 1 and line.origin -%}
{% set model, id = (line.origin|string).split(',') -%}
{% if model == 'sale.line' and line.origin and line.origin.sale and line.origin.sale.reference -%}
RFFLIN|ON|{{line.origin.sale.reference}}
{% else -%}
RFFLIN|ON|{{invoice.reference}}
{% endif -%}
{% endif -%}
{% if line.shipments_reference -%}
{% for shipment in line.shipments_reference -%}
RFFLIN|DQ|{{shipment}}
{% endfor -%}
{% endif -%}
{% if line.discount_rate and line.discount_rate > 0 -%}
ALCLIN|A|1|TD||{{ (line.discount_rate*100)|round(2) }}|{{ line.discount_amount or '' }}
{% endif -%}
{% for tax in line.taxes -%}
{% if invoice.edi_document_type == '381' -%}
TAXLIN|VAT|{{ (tax.rate*100)|int }}|{{ (-1*line.amount*tax.rate)|round(2) }}
{% else -%}
TAXLIN|VAT|{{ (tax.rate*100)|int }}|{{ (line.amount*tax.rate)|round(2) }}
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}
CNTRES|2|{{ ns.counter }}
{% if invoice.edi_document_type == '381' -%}
MOARES|{{ -1*invoice.untaxed_amount }}||{{ -1*invoice.untaxed_amount }}|{{ -1*invoice.total_amount }}|{{ -1*invoice.tax_amount }}
{% else -%}
MOARES|{{ invoice.untaxed_amount }}||{{ invoice.untaxed_amount }}|{{ invoice.total_amount }}|{{ invoice.tax_amount }}
{% endif -%}
{% for tax in invoice.taxes -%}
{% if invoice.edi_document_type == '381' -%}
TAXRES|VAT|{{ (tax.tax.rate*100)|round(2) }}|{{ -1*tax.amount }}|{{ -1*tax.base }}
{% else -%}
TAXRES|VAT|{{ (tax.tax.rate*100)|round(2) }}|{{ tax.amount }}|{{ tax.base }}
{% endif -%}
{% endfor -%}
