INVOIC_D_93A_UN_EAN007
INV|{{invoice.number or invoice.id}}|{{invoice.edi_document_type}}
DTM|{{invoice.invoice_date|replace('-','')}}
PAI|14E
{% if invoice['sales'] -%}
{% for sale in invoice.sales -%}
RFF|ON|{{sale.reference}}
{% endfor -%}
{% else -%}
RFF|ON|{{invoice.reference}}
{% endif -%}
{% for shipment in invoice.shipments -%}
RFF|DQ|{{shipment.reference}}
{% endfor -%}
NADSCO|{{invoice.company.party.edi_operational_point_head}}|{{invoice.company.party.name}}|{{invoice.company.trade_register}}|{{invoice.company.party.addresses[0].street|replace('\n', '')}}|{{invoice.company.party.addresses[0].city}}|{{invoice.company.party.addresses[0].zip}}|{{invoice.company.party.identifier_code}}
NADBCO|{{invoice.party.edi_operational_point_head}}|{{invoice.party.name}}|{{invoice.party.addresses[0].street|replace('\n', '')}}|{{invoice.party.addresses[0].city}}|{{invoice.party.addresses[0].zip}}|{{invoice.party.identifier_code}}|{{invoice.party.addresses[0].country.code}}|
NADSU|{{invoice.company.party.edi_operational_point_head}}|{{invoice.company.party.name}}|{{invoice.company.trade_register}}|{{invoice.company.party.addresses[0].street|replace('\n', '')}}|{{invoice.company.party.addresses[0].city}}|{{invoice.company.party.addresses[0].zip}}|{{invoice.company.party.identifier_code}}|
{% if invoice['sales'] -%}
NADBY|{{invoice.sales[0].party.edi_operational_point_head}}|{{invoice.sales[0].party.name}}|{{invoice.sales[0].party.addresses[0].street|replace('\n','')}}|{{invoice.sales[0].party.addresses[0].city}}|{{invoice.sales[0].party.addresses[0].zip}}|{{invoice.sales[0].party.identifier_code}}|
{% else -%}
NADBY|{{invoice.party.edi_operational_point_head}}|{{invoice.party.name}}|{{invoice.party.addresses[0].street|replace('\n', '')}}|{{invoice.party.addresses[0].city}}|{{invoice.party.addresses[0].zip}}|{{invoice.party.identifier_code}}|
{% endif -%}
NADII|{{invoice.company.party.edi_operational_point_head}}|{{invoice.company.party.name}}|{{invoice.company.party.addresses[0].street|replace('\n', '')}}|{{invoice.company.party.addresses[0].city}}|{{invoice.company.party.addresses[0].zip}}|{{invoice.company.party.identifier_code}}|{{invoice.party.addresses[0].country.code}}
NADIV|{{invoice.invoice_address.edi_ean}}|{{invoice.invoice_address.party.name}}|{{invoice.invoice_address.street|replace('\n','')}}|{{invoice.invoice_address.city}}|{{invoice.invoice_address.zip}}|{{invoice.invoice_address.party.identifier_code}}
{% if invoice['shipment_address'] -%}
NADDP|{{invoice.shipment_address.edi_ean}}|{{invoice.shipment_address.party.name}}|{{invoice.shipment_address.street|replace('\n', '')}}|{{invoice.shipment_address.city}}|{{invoice.shipment_address.zip}}
{% else -%}
{% set shipment_address = invoice.party.addresses|selectattr('delivery')|first -%}
NADDP|{{shipment_address.edi_ean}}|{{shipment_address.party.name}}|{{shipment_address.street|replace('\n', '')}}|{{shipment_address.city}}|{{shipment_address.zip}}
{% endif -%}
{% if invoice.party.edi_operational_point_pay -%}
NADPR|{{invoice.party.edi_operational_point_pay}}
{% else -%}
NADPR|{{invoice.invoice_address.edi_ean}}
{% endif -%}
NADPE|{{invoice.company.party.edi_operational_point_head}}
CUX|EUR|4
{% if invoice.edi_document_type == '381' -%}
PAT|35|{{ invoice.invoice_date|replace('-','') }}|{{ -1*invoice.total_amount }}
{% else -%}
PAT|35|{{ invoice.invoice_date|replace('-','') }}|{{ invoice.total_amount }}
{% endif -%}
{% for line in invoice.lines -%}
LIN|{{line.code_ean13}}|EN|{{loop.index}}
PIALIN|{{line.product.code}}
IMDLIN|{{ line.product.name|truncate(35, False, '', 0) }}|M|F
QTYLIN|47|{{line.quantity|int}}
MOALIN|{{line.amount}}
PRILIN|AAA|0
PRILIN|AAB|{{line.unit_price}}
{% if invoice.shipments|length > 1 -%}
RFFLIN|ON|{{line.sale.reference}}
RFFLIN|DQ|{{line.shipment_reference}}
{% endif -%}
{% if line.discount -%}
ALCLIN|A|1|TD|{{(line.discount * 100)}}
{% endif -%}
{% for tax in line.taxes -%}
{% if invoice.edi_document_type == '381' -%}
TAXLIN|VAT|{{ (tax.rate*100)|int }}|{{ (-1*line.amount*tax.rate)|round(2) }}
{% else -%}
TAXLIN|VAT|{{ (tax.rate*100)|int }}|{{ (line.amount*tax.rate)|round(2) }}
{% endif -%}
{% endfor -%}
{% endfor -%}
CNTRES|2|{{ invoice.lines|length }}
{% if invoice.edi_document_type == '381' -%}
MOARES|||{{ -1*invoice.untaxed_amount }}|{{ -1*invoice.total_amount }}|{{ -1*invoice.tax_amount }}
{% else -%}
MOARES|||{{ invoice.untaxed_amount }}|{{ invoice.total_amount }}|{{ invoice.tax_amount }}
{% endif -%}
{% for tax in invoice.taxes -%}
{% if invoice.edi_document_type == '381' -%}
TAXRES|VAT|{{ (tax.tax.rate*100)|round(2) }}|{{ -1*tax.amount }}|{{ -1*tax.base }}
{% else -%}
TAXRES|VAT|{{ (tax.tax.rate*100)|round(2) }}|{{ tax.amount }}|{{ tax.base }}
{% endif -%}
{% endfor -%}
